<div class="container text-center offset-md-3">
  <div class="row">
    <div class="col-md-7">
      <h2 class="text-center mt-4">新規登録</h2>
       <%= bootstrap_form_with(model: @user, local: true, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <span class="badge badge-danger">必須</span>
          <%= f.text_field :name, required: true , placeholder: "Your Name (5 to 30 characters)"%>
          <span class="badge badge-danger">必須</span>
          <%= f.email_field :email, required: true, placeholder: "Your Email Address" %>
          <span class="badge badge-danger">必須</span>
          <%= f.password_field :password , required: true, placeholder: "Password (6 to 20 characters)" %>
          <%= f.check_box :password_check , label: "パスワードを表示する" %>
          <span class="badge badge-danger">必須</span>
          <%= f.password_field :password_confirmation, required: true, placeholder: "Password Confirmation (6 to 20 characters)" %>
          <%= f.check_box :password_confirmation_check, label: "パスワードを表示する" %>
          <p><%= f.primary "登録" %></p>
          <p><%= render "devise/shared/links" %></p>
      <% end %>
    </div>
  </div> 
</div>