<div class="container text-center">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <h2 class="text-center mt-4">新規登録</h2>
       <%= bootstrap_form_with(model: @user, local: true, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.text_field :name, required: true %>
          <%= f.email_field :email, required: true %>
          <%= f.password_field :password , required: true %>
          <%= f.password_field :password_confirmation, required: true %>
          <p><%= f.primary "登録" %></p>
          <p><%= render "devise/shared/links" %></p>
      <% end %>
    </div>
  </div> 
</div>