<% comments.each do |comment| %>
    <div class = "col-md-6 offset-md-3 mt-4 mb-4" id = "comment_<%=comment.id %>">
       <div class = "card">
          <p class = "text-center"><%= comment.content %></p>
          <div class = "card-footer text-center">
               <%= comment.user.name %>さんがコメントしました
               <span class = "ml-4"><%= l  comment.created_at %></span>
               <% if comment.user == current_user %>
                  <%= link_to "削除", review_comment_path(comment.review,comment),remote: true,method: :delete, data: {confirm: "削除しますか?"}%>
               <% end %>
          </div>
       </div>
    </div>
<% end %>