 <h1 class = " mb-4 mt-4 text-center">家計簿詳細</h1>
<div class = "offset-4 mt-4">
  <table class="table table-striped col-md-6">
    <tr>
      <th><h4>お店</h4></th>
      <td><h5><%= @record.store_name %></h5></td>
    </tr>
    <tr>
      <th><h4>日付</h4></th>
      <td><h5><%= @record.purchase_date %></h5></td>
    </tr>
    <tr>
      <th><h4>分類</h4></th>
      <td><h5><%= @record.labels.first.name %></h5></td>
    </tr>
    <tr>
      <th><h4>購入金額</h4></th>
      <td><h5><%= @record.purchase_price %>円</h5><td>
    </tr>
    <tr>
      <th><h4>編集, 削除</h4></th>
      <td>
         <%= link_to "編集", edit_record_path(@record) , class: "btn btn-success"%>
         <%= link_to "削除", record_path(@record), method: :delete, class: "btn btn-danger", data: {confirm: "家計簿を削除しますか?"} %>
      </td>
    </tr>
  </table>
</div>
<div class = "text-center col-md-6 offset-3 mt-4">
  <% if @record.memos.any?%>
    <% @record.memos.each_with_index do |memo,i| %>
      <div class = "card">
         <div class = "card-header">
            <strong>メモ<%= i + 1 %></strong>
         </div>
         <h5><%= memo.content %></h5>
      </div>
    <% end %>
  <% end %>
</div>
<div class = "text-center col-md-6 offset-3 mt-4">
  <h2>購入した商品リスト</h2>
  <table class="table table-hover">
     <% if @record.products.any? %>
        <% @record.products.each_with_index do |product, i| %>
          <tr>
            <th><h4><%= i + 1 %> .</th></th>
            <td><h5><%= product.name %></h5></td>
            <td><h5><%= product.price %>円<h5></td>
            <td><%= link_to "レビューを書く", new_review_path(product.id), class: "btn btn-primary"%></td>
          </tr>
        <% end %>
     <% end %>
  </table>
</div>