<li>
  <%= link_to "家計簿を登録する", new_record_path , class: "nav-link"%>
</li>
<li>
   <%= link_to "家計簿一覧", records_path, class: "nav-link" %>
</li>
<li>
   <%= link_to "Reviews", reviews_path , class: "nav-link" %>
</li>
<li class = "dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%=image_tag current_user.get_user_profile_image  %> <%= current_user.name %>
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% unless !!current_user.provider %>
             <%= link_to "パスワード変更", edit_user_registration_path, class: "dropdown-item" %>
             <%= link_to "ユーザー情報編集", edit_user_path(current_user), class: "dropdown-item" %>
          <% end %>
          <%= link_to "アカウントを削除する", user_path(current_user), data: { confirm: "アカウントを削除しますか?" }, method: :delete, class: "dropdown-item" %>
   </div>
</li>
<li>
     <%= link_to "ログアウト",destroy_user_session_path , method: :delete , class: "nav-link" %>
</li>
