<div class = "container mt-4">
  <div class = "row">   
      <% @reviews.each do |review| %>
        <div class = "col-md-3 mb-3">
          <div class = "card">
            <%# 画像 %>
            <% if review.images.any? %>
                  <%= image_tag review.images.first.image.thumb.url , class: "img-fluid img-thumbnail minimum"%>
                <% else %>
                  <%= image_tag "review-thumb.jpg" ,class: "img-thumbnail index-image"%> 
            <% end %>
            <div class = "card-body index-card">
              <%= truncate review.title, length: 10 %> 
            </div>
            <div class = "text-center">
              <div id = "star_index_<%= review.id %>"></div>
            </div>
            <%# ここまでレビューのリンク %>
            <div class = "card-footer text-center">
              <%= link_to "詳細を見る", review_path(review) , class: "btn btn-success btn-sm" %>
            </div>
          </div>
        </div>
      <% end %> 
  </div>
  <%= paginate @reviews %>
</div> 







