<div class = "container mt-3">
  <div class = "card">
    <%# ここから商品名とタイトルと評価 %>
    <div class = "card-header text-center">
      商品名: <%= @review.product.name %><br/>
      タイトル:  <%= @review.title %>
      <div id ="star_index"></div>
    </div>
    <%# ここまで商品名とタイトルと評価 %>
    <%# ここからレビュー本文と画像 %>
    <div class = "card-body">
      <p><%= @review.content %></p>
      <div class = "mt-3">
        <% if @review.images.any? %>
          <% @review.images.each do |image| %>
             <%= image_tag image.image.url , class: "img-fluid index-image"%>
          <% end %>
        <% else %>
          <%= image_tag "review.jpg" ,class: "img-fluid index-image" %>
        <% end %>
      </div>
    </div>
    <%# ここまでレビュー本文と画像 %>
    <div class = "card-footer">
       <p class = "heart"><%= icon("fas", "heart") %></p>
       <% if current_user %>
        <% if @review.user == current_user %>
          <%= link_to "削除", review_path(@review), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか?"} %>
        <% end %>
       <% end %>
    </div>
  </div>
</div>
<h3 class = "text-center mt-4">コメントを作成する</h3>
<div class = "offset-3 col-6">
  <% if current_user %>
     <%= bootstrap_form_with(model: @comment, url: review_comments_path(@review), scope: :comment) do |f| %>
        <div id = "errors" class = "success-flash">
        </div>
        <%= f.text_area :content, label: "内容" ,'onKeyUp': "countLength(value, 'textlength2');" , rows: 5, id: "comment-field"%>
         <p class = "text-right"><span id = "textlength2">0</span>/200文字
        <div class = "text-center">
           <%= f.submit "投稿する", class: "btn btn-success"%>
        </div>
     <% end %>
  <% else %>
      <h3 class = "text-center">コメントをするにはログインがひつようです。</h3>
  <% end %>
</div>

<h3 class = "text-center mt-3">コメント一覧</h3>
<div class = "contaner" id = "comment_lists">
  <%= render "comments/comment", comments: @comments %>
</div>


<script>
  $('#star').raty({
    score : "<%= @review.rating %>",
    path: '/assets/',
    readOnly: true
  });
</script>

