<!DOCTYPE html>
<html>
  <head>
    <title>AccoutsKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <%= render "shared/layouts/header" %>
    <%# フラッシュ %>
    <% if notice %>
       <p class="alert alert-info text-center"><%= notice %></p>
    <% elsif alert %>
       <p class = "alert alert-danger text-center"><%= alert %></p>
    <% end %>
    <%# フラッシュここまで %>
    <%= yield %>
  </body>

</html>
